-f https://download.pytorch.org/whl/torch_stable.html
-f https://data.pyg.org/whl/torch-1.11.0+cpu.html
git+https://github.com/kshitijgundale/twitter-rumour-dataset
Flask
google
newspaper3k
pandas
pyvis
torch==1.11.0+cpu
torch-scatter
torch-geometric
torch-sparse
nltk
flask-cors
gunicorn